body {
	background-color: #FFFEFC;
	display: flex;
	padding-left: 285px;
}
/*header css*/
.dots {
	height: 13px;
	width: 13px;
	background-color: #FFFEFC;
	border-radius: 7px;
	opacity: 90%;
}
.dots-div {
	width: 73px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;
}
.header-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #242220;
	max-width: 285px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 20px 31px;
}
.search-div {
	background-color: #FFFEFC;
	border-radius: 6px;
	height: 39px;
	max-width: 224px;
	width: 100%;
	opacity: 92%;
	margin-bottom: 37px;
}
.search {
	margin-left: 9px;
	margin-top: 3px;
}
.nav-a {
	color: #FFFEFC;
	font-size: 20px;
	vertical-align: middle;
	margin-right: -4px;
}
.li:nth-child(1)::after {
	content: "";
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background-color: #7E3737;
	display: table;
	display: inline-block;
	margin-left: 11px;
}
.nav-ul {
	height: 248px;
	display: flex;
	flex-direction: column;
}
.li:nth-child(2)::after {
	content: "";
	height: 2px;
	width: 200px;
	background-color: #FFFDF8;
	opacity: 34%;
	display: block;
	border-radius: 1px;
	margin-top: 42px;
}
.li:nth-child(1), .li:nth-child(3) {
	margin-bottom: 34px;
}
.li:nth-child(2) {
	margin-bottom: 42px;
}
.icons-div {
	display: flex;
	justify-content: space-between;
	opacity: 92%;
	margin-bottom: 10px;
}
/*section1 css*/
.section1 {
	padding-left: 28px;
	padding-right: 25px;
	position: relative;
	max-width: 1106px;
	width: 100%;
}
.panel1 {
	max-width: 1028px;
	width: 100%;
}
.panel1-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}
/*section 2-3 css*/
.section2-h1, .section3-h1 {
	font-size: 32px;
	margin-bottom: 30px;
	color: #242220;
}
.section2-name {
	line-height: 25px;
	font-size: 17px;
	color: #242220;
}
.section2-author {
	font-size: 14px;
	color: #242220;
}
.section2-h4 {
	font-size: 14px;
	color: #7E3737;
}
.relative {
	position: relative;
	height: 435px;
}
.absolute1 {
	position: absolute;
	top: 291px;
}
.absolute2 {
	position: absolute;
	bottom: 69px;
}
.absolute3 {
	position: absolute;
	bottom: 40px;
}
.absolute4 {
	position: absolute;
	bottom: 0px;
}
.container {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 30px;
	max-width: 1106px;
	width: 100%;
}
.parent {
	margin-top: 42px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content-wrapper {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	width: 100%;
}
.content-wrapper div {
	text-align: center;
	width: 164px;
	margin-right: 28px;
}
.content-wrapper div:first-child {
	margin-left: 28px;
}
.content-wrapper div:last-child {
	margin-right: 0;
}
.magic-wrapper {
	height: 435px;
	width: 100%;
 	overflow-y: hidden;
}
/*footer css*/
.footer-wrapper {
	margin-top: 62px;
	padding-left: 28px;
	padding-right: 25px;
	max-width: 1028px;
	width: 100%;
}
.footer {
	max-width: 1028px;
	width: 100%;
	border-radius: 31px;
	padding: 33px 36px;
	background-color: #242220;
}
.footer-1 {
	max-width: 811px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.f-div {
	max-width: 345px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.footer-2 {
	max-width: 1028px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 33px;
}
.f-div1 h3, .f-div3 h3 {
	color: #FFFEFC;
	opacity: 90%;
	font-size: 20px;
}
.f-div1 p, .f-div2 p, .f-div3 p {
	color: #FFFEFC;
	opacity: 90%;
	font-size: 16px;
}
.p1, .p3 {
	margin-top: 22px;
	margin-bottom: 15px;
}
.p2 {
	margin-bottom: 15px;
}
.p4 {
	margin-right: 25px;
}
.footer-2 h6 {
	color: #FFFEFC;
	opacity: 90%;
	font-size: 14px;
}
.line {
	max-width: 964px;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background-color: #FFFDF8;
	opacity: 34%;
	margin-top: 41px;
}
/*books.html styles*/
.categories-container {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 30px;
	max-width: 1028px;
	width: 100%;
	margin-left: 28px;
	margin-right: 25px;
}
.book-categories {
	margin: 0 auto;
	display: flex;
}
.book-categories h1 {
	font-size: 21px;
	color: #242220;
	margin-right: 25px;
}
.book-categories img {
	margin-right: 28px;
}
.books-container {
	display: flex;
	flex-direction: column;
	margin-top: 44px;
	max-width: 1028px;
}
.books-wrapper {
	margin-bottom: 61px;
	display: flex;
	justify-content: space-between;
	max-width: 1028px;
	width: 100%;
}
.books-wrapper div {
	text-align: center;
	width: 164px;
}
.books-wrapper div:last-child {
	margin-right: 0px;
}
.footer-wrapper-books {
	margin-top: 62px;
	max-width: 1028px;
	width: 100%;
}
.books-container div:last-child {
	margin-bottom: 0px;
}
.pages {
	display: flex;
	margin: 0 auto;
	margin-top: 79px;
}
.pages p {
	color: #242220;
	font-size: 27px;
	margin-left: 15px;
	margin-right: 15px;
}
/*books header*/
.nav-a-books {
	color: #FFFEFC;
	font-size: 20px;
	vertical-align: middle;
	margin-right: -4px;
}
.li-books:nth-child(2)::after {
	content: "";
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background-color: #7E3737;
	display: table;
	display: inline-block;
	margin-left: 11px;
}
.nav-ul-books {
	height: 248px;
	display: flex;
	flex-direction: column;
}
.li-books:nth-child(3)::before {
	content: "";
	height: 2px;
	width: 200px;
	background-color: #FFFDF8;
	opacity: 34%;
	display: block;
	border-radius: 1px;
	margin-bottom: 42px;
}
.li-books:nth-child(1), .li-books:nth-child(3) {
	margin-bottom: 34px;
}
.li-books:nth-child(2) {
	margin-bottom: 42px;
}
/*collections css*/
/*header*/
.nav-a-collections {
	color: #FFFEFC;
	font-size: 20px;
	vertical-align: middle;
	margin-right: -4px;
}
.li-collections:nth-child(3)::after {
	content: "";
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background-color: #7E3737;
	display: table;
	display: inline-block;
	margin-left: 11px;
}
.nav-ul-collections {
	height: 248px;
	display: flex;
	flex-direction: column;
}
.li-collections:nth-child(3)::before {
	content: "";
	height: 2px;
	width: 200px;
	background-color: #FFFDF8;
	opacity: 34%;
	display: block;
	border-radius: 1px;
	margin-bottom: 42px;
}
.li-collections:nth-child(1), .li-collections:nth-child(3) {
	margin-bottom: 34px;
}
.li-collections:nth-child(2) {
	margin-bottom: 42px;
}
/*footer*/
.footer-wrapper-collections {
	margin-top: 22px;
	max-width: 1028px;
	width: 100%;
}
/*collections container*/
.collections-container {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 30px;
	max-width: 1028px;
	width: 100%;
	margin-left: 28px;
	margin-right: 25px;
}
.collections-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 1028px;
	width: 100%;
	justify-content: space-between;
}
.collections-wrapper div {
	position: relative;
	margin-bottom: 40px;
	text-align: center;
}
.collections-wrapper div img {
	max-width: 316px;
	width: 100%;
}
.collections-wrapper div h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFFEFC;
	font-size: 30px;
	max-width: 316px;
	width: 100%;
	line-height: 35px;
}
/*product.html css*/
/*header*/
.dots-product {
	height: 13px;
	width: 13px;
	background-color: #242220;
	border-radius: 7px;
	opacity: 90%;
}
.header-wrapper-product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #FFFEFC;
	max-width: 285px;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 20px 31px;
	box-shadow: 0px 3px 6px #E1E1E1;
}
.nav-a-product {
	color: #242220;
	font-size: 20px;
	vertical-align: middle;
	margin-right: -4px;
}
.li-product:nth-child(2)::after {
	content: "";
	height: 8px;
	width: 8px;
	border-radius: 4px;
	background-color: #7E3737;
	display: table;
	display: inline-block;
	margin-left: 11px;
}
.nav-ul-product {
	height: 248px;
	display: flex;
	flex-direction: column;
}
.li-product:nth-child(3)::before {
	content: "";
	height: 2px;
	width: 200px;
	background-color: #242220;
	opacity: 34%;
	display: block;
	border-radius: 1px;
	margin-bottom: 42px;
}
.li-product:nth-child(1), .li-product:nth-child(3) {
	margin-bottom: 34px;
}
.li-product:nth-child(2) {
	margin-bottom: 42px;
}
.icons-div-product {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.search-div-product {
	background-color: #FFFEFC;
	border-radius: 6px;
	height: 39px;
	max-width: 224px;
	width: 100%;
	opacity: 92%;
	margin-bottom: 37px;
	box-shadow: 0px 3px 6px #EBEBEB;
}
/*footer*/
.footer-wrapper-product {
	margin-top: 22px;
	max-width: 1028px;
	width: 100%;
}
.footer-product {
	max-width: 1028px;
	width: 100%;
	border-radius: 31px;
	padding: 33px 36px;
	background-color: #FFFEFC;
	box-shadow: 0px 3px 6px #E1E1E1;
}
.footer-2-product {
	max-width: 1028px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 33px;
}
.f-product-div1 h3, .f-product-div3 h3 {
	color: #242220;
	opacity: 90%;
	font-size: 20px;
}
.f-product-div1 p, .f-product-div2 p, .f-product-div3 p {
	color: #242220;
	opacity: 90%;
	font-size: 16px;
}
.footer-2-product h6 {
	color: #242220;
	opacity: 90%;
	font-size: 14px;
}
.line-product {
	max-width: 964px;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background-color: #242220;
	opacity: 34%;
	margin-top: 41px;
}
/*product container*/
.product-container {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 30px;
	max-width: 1028px;
	width: 100%;
	margin-left: 28px;
	margin-right: 25px;
}
.product-h4 {
	margin: 0 auto;
	font-size: 20px;
	color: #242220;
}
.product-h4 span {
	color: #7E3737;
}
.purchase {
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}